*~
*.autosave
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*_pch.h.cpp
.#*
*.*#
.*.swp

.DS_Store
.directory
*.debug
*.Debug
*.Release

Makefile*
*.prl
*.app
Thumbs.db

moc_*.cpp
ui_*.h
qrc_*.cpp
*_resource.rc
*.qm
*.res
*.rc

*.pro.user*
*.txt.user*

# vs
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*


*.dll
*.exe
*.so
*.so.*

*.pyc
